.about{
    display: flex;
    background-color: #f1f3fa;
    .aboutContainer{
        flex: 7;
        background-color: #f1f3fa;
        .top{
        margin: 20px;
        padding: 20px;
        }

        h1{
            font-size: 40px;
            font-weight: 1000;
            color: #666;

        }
    }
}

.sheets{
    width: 100%;
    height: 100vh;
    

.quescontainer{
    display: flex;
    width: 100%;

    .quesco{
        margin: 10px;
        padding: 10px;
        border-radius: 10px;

    .hshe{
        display: flex;
        width: 100%;

        p{
            color: black;
            font-size: 15px;
            font-weight: 500;
            justify-content: center;
            margin: 5px;    
        }

        input{
            width: 30px;
            margin: 5px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 1px 1px rgba(63, 50, 14, 0.47);
        }
    }
}
}
    button{
        border: none;
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 8px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        width: 100px;
        cursor: pointer;
    }
}

