.questionchoose{
    width: 90%;
    display: flex;
    margin: 25px 20px 10px 10px;
    flex-direction: column;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid #252525;
}
.questionchoose .questioncon p{
    font-size: 15px;
    width: 70%;
    font-weight: 700;
    height: max-content;
    margin: 0px;
}
.questioncon{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.choiceli{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.choiceli p{
    width: 88%;
    margin: 0px;
    height: max-content;
}
.addchoice{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreinput{
    width: 40px;
}
.questcon{
    width: 90%;
    height: max-content;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center; 
}
.frmcontainer{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 10px;
    height: max-content;
    margin-bottom: 10px;
}
.questionscore{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}