.questionchoose{
    display: flex;
    margin: 5px;
    flex-direction: column;
}
.questionchoose p{
    font-size: 15px;
    font-weight: 700;
}

.choiceli{
    width: 20%;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}
.addchoice{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreinput{
    width: 25px;
}
.questcon{
    width: max-content;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center; 
}