.hidden-row {
    display: none;
  }
  .Pinfo{
    width: 100%;
    display: flex;
  }
  .Pinfo .fstcolm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .Finfo .fmbgconlisclmn,.PA .fmbgconlisclmn{
    width: 100%;
    height: 20%;
    display: flex;
    margin: 0;
  }