.navbar1{
    width:100%;
   height: 60px;
   display: flex;
   font-size: 14px;
   margin: 0;
   padding: 0;
   top: 0;
   z-index: 999;
   overflow: auto;

   .wrapper1{
    width: 100%;
    height: 100%;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(90, 125, 252);
    margin: 0;

    .search{
        display: flex;
        align-items: center;
        border: 0.5px solid #005427;
        padding: 2px;
        border-radius: 10px;
        background-color: white;
        input{
            border: none;
            outline: none;
            background-color: #EDFFF2;

            &::placeholder{
                font-size: 12px;
            }
        }
    }
    
    .items{
        display: flex;
        align-items: center;

        .item{
             display: flex;
             align-items: center;
             margin-right: 20px;
             position: relative;
             color: white;
             .icon{
                font-size: 30px;
                color: white;
             }

            .avatar{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .counter{
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 9px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
    }
   }
}