.PA{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.PA .Pinfo .fstcolm{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 10px;
    height: 100%;
}
.PA .Pinfo .fstcolm div{
    margin: 5px;
}
.PA .Finfo{
    padding: 10px;
}
.fmbgconlisclmn{
    width: 100%;
    height: 100%;
    display: flex;
}
.fmbgconlisclmn div{
    margin: 10px;
}
.fmbgconlisclmn .withscore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fstcolm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fstcolm .withscore{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fmbgconlisclmn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fmbgconlisclmn div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.evluationcon{
    width: 100%;
    height: 100%;
}