.sidebar{
    background-color: #EDFFF2;
    flex: 1;
    border-right: 3px solid #005427;
    min-height: 100vh;
    

    .top{
        background-color: #EDFFF2;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .logo{
            font-size: 18px;
            font-weight: bold;
            color: #005427;
        }
    }
    hr{
        height: 0;
        border: 1.5px solid #005427;
    }

    .center{
        padding-left: 10px;
        padding-top: 10px;
        margin: 6px;
        text-decoration: none;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 11px;
                font-weight: bold;
                color: #005427;
                margin: 12px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: lightblue;
                }

                .icon{
                    font-size: 18px;
                    color: #005427;
                    padding: 2px;
                }

                span{
                    font-size: 13px;
                    font-weight: 700;
                    color: #005427;
                    margin-left: 10px;
                } 
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #005427;
            cursor: pointer;
            margin: 4px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }

}