.news{
    width: 100vw;
    height: 100%;
    border: 2px solid black;
    display: flex;
}
.sidebar{
    height: 100%;
}
.newscontainer{
    width: 100%;
    flex: 7 1;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}
.content .newses{
    display: flex;
    margin: 10px;
    width: 70%;
    height: 60%;
    background-color: green;
}
.content .newses .pictit{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .newses .pictit img{
    width: 70%;
    height: 70%;
}
.content .newses .desdat{
    width: 70%;
}
.headnews{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.create_news{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: white;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.create_news form{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.chooseimgnews{
    display: flex;
}
.previmg{
    width: 250px;
}
.xbtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}