.contentscho{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}
.contentscho .formleft{
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-basis: 1fr 1fr;
    flex-direction: column;
}
.reqcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 10px;
}
.schodetails{
    background-color: antiquewhite;
}
.contentscho .formright{
    width: 100%;
    height: 100%;
    background-color: yellow;
}
.scoresheet{
    width: 100%;
    height: 100%;
    justify-content: top;
    align-items: center;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 10px;
}
.Pacon{
    width: 100%;
    height: 100%;
    background-color: aquamarine;

}
.scoresheet .con{
    width: 100%;
}
.scoresheet .comp{
    width: 80%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}
.scoresheet .con input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.scoresheet .comp input{
    width: 40px;
    height: 40px;
    text-align: center;
}
.scoresheet .comp .selectcon{
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-gap: 10px;
    height: 100%;
}